<div class="container">
  <button mat-raised-button color="primary" (click)="openModalPaymentCheckin()">
    Abrir Modal pagamentos checkin
  </button>

  <button
    mat-raised-button
    color="primary"
    (click)="openModalPaymentProposal()"
  >
    Abrir Modal pagamentos proposta
  </button>

  <button
    mat-raised-button
    color="primary"
    (click)="openModalPaymentAccountsReceiver()"
  >
    Abrir Modal pagamentos contas a receber
  </button>

  <button mat-raised-button color="primary" (click)="openModalBillsToPay()">
    Abrir Modal pagamentos contas a pagar
  </button>

  <button mat-raised-button color="primary" (click)="openModalCancelCheckin()">
    Abrir Modal cancelamento checkin
  </button>

  <button mat-raised-button color="primary" (click)="openModalCancelProposal()">
    Abrir Modal cancelamento proposta
  </button>

  <button
    mat-raised-button
    color="primary"
    (click)="openModalCancelAccountsReceiver()"
  >
    Abrir Modal cancelamento contas a receber
  </button>

  <button
    mat-raised-button
    color="primary"
    (click)="openModalCancelBillsToPay()"
  >
    Abrir Modal cancelamento contas a pagar
  </button>
</div>
